/*!!!!Need to do mobile styling!!!!*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    font-family: "Roboto", sans-serif;
    background-color: #C4C4C4;
    height: 100vh;
    width: 100vw;
}

.lg-text {
    font-size: 72px;
    font-weight: 200;
}

.md-text {
    font-size: 36px;
}

.sm-text {
    font-size: 24px;
}

.header,
.banner {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.row__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px;
}

.gameBoard {
    width: 30%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100px 100px 100px;
    text-align: center;
}

.gameBoard__tile {
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    height: 98%;
    border-radius: 2px;
}

.gameBoard__tile:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.playerCard {
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: #E3E3E3;
    align-items: center;
    border-radius: 2px;
    padding: 10px;
}

.playerCard__userType {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
}

.playerCard__option {
    text-align: center;
    width: 40%;
}

.playerCard__option:hover {
    cursor: pointer;
    text-shadow: 2px 2px #F2A0FF;
}

.playerCard__nameInput {
    width: 70%;
    border-radius: 2px;
    border: 0px solid;
    margin-top: 15px;
    padding-left: 5px;
}

.row__scoreBoard {
    display: flex;
    justify-content: center;
}

.scoreBoard {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    background-color: #E3E3E3;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;

}

.score {
    margin-bottom: 10px;
    font-weight: 400;
}

.score__playerScores {
    text-align: left;
}

.scoreBoard__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    background-color: #C4C4C4;
    padding: 10px;
    border-radius: 20px;
}

.button--danger {
    color: red;
}

.button:hover {
    cursor: pointer;
    background-color: #a1a1a1;
}

.playerCard__option--active {
    text-shadow: 2px 2px #F2A0FF;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}